<h1 id="big"> Take a Look </h1>

  <div class='container-marketing'>
    <section id="blog-landing">
  {{#each thoughts}}
        <article class="whitepanel">
          <img src="{{this.pic}}" alt="">
          <h3>{{this.theDate}}</h3>
          <p class="journal-answers">{{this.question}}<br><br>Song of the day: {{this.song}}<br><br>Feeling: {{this.mood}}</p>
        </article>
  {{/each}}
      </section>
  </div>
